<a href="https://colab.research.google.com/github/developer22-university/CyberBullying_on_Twitter/blob/main/ML_Notebook/RandomForestClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
## Importing the libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from wordcloud import WordCloud
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, accuracy_score

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [3]:
dataset = pd.read_csv('labeled_data.csv')
dataset.head()

  Tweet ID  ...                                             Tweet
0        c  ...                                                  s
1      NaN  ...                                               meta
2        0  ...  !!! RT @mayasolovely: As a woman you shouldn't...
3        1  ...  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
4        2  ...  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...

[5 rows x 7 columns]

In [6]:
dataset.shape

(24785, 7)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24785 entries, 0 to 24784
Data columns (total 7 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Tweet ID                                     24784 non-null  object
 1   number of human annotators                   24784 non-null  object
 2    number of annotations for hate speech       24784 non-null  object
 3    number of annotations for offensive speech  24784 non-null  object
 4    number of annotations for neither Column    24784 non-null  object
 5    Label                                       24785 non-null  object
 6          Tweet                                 24785 non-null  object
dtypes: object(7)
memory usage: 1.3+ MB

In [8]:
dataset.describe()

       Tweet ID  ...                                             Tweet
count     24784  ...                                              24785
unique    24784  ...                                              24785
top       24878  ...  When you see kids being bad &amp; their parent...
freq          1  ...                                                  1

[4 rows x 7 columns]

***Taking class and tweets in different dataframe***

In [9]:
dt_trasformed = dataset[['class', 'tweet']]
dt_trasformed

KeyError: ignored

***Putting class in y***

In [10]:
y = dt_trasformed.iloc[:, :-1].values

NameError: ignored

In [11]:
print(y)

NameError: ignored

In [12]:
y_df = pd.DataFrame(y)
y_df.head()

NameError: ignored

*0 stands for hate, 1 stands for offensive and 2 stands for normal speech*

In [13]:
y_hate = np.array(y_df[0])
y_offensive = np.array(y_df[1])
y_normal = np.array(y_df[2])

NameError: ignored

In [14]:
print(y_hate)
print(y_offensive)
print(y_normal)

NameError: ignored

https://github.com/Chandramouli-Das/Twitter-Hate-Speech-Detection-using-Random-Forest-Classifier/blob/main/Twetter%20hate%20Speech%20using%20Random%20Forest%20.ipynb